<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020580869538-3hgnoj52ktde232fbu94g99t5b7gr9pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020580869538-3hgnoj52ktde232fbu94g99t5b7gr9pj</string>
	<key>API_KEY</key>
	<string>AIzaSyBV6VdqEq2h4YSk9BXxwMRnXB4tq1CcfIY</string>
	<key>GCM_SENDER_ID</key>
	<string>1020580869538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duncanconduit.waterful</string>
	<key>PROJECT_ID</key>
	<string>waterful-1</string>
	<key>STORAGE_BUCKET</key>
	<string>waterful-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020580869538:ios:b093e861608457ef91aefb</string>
</dict>
</plist>