<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309705606497-pv0acaqcm8qggsg9utqo17eovvf6botr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309705606497-pv0acaqcm8qggsg9utqo17eovvf6botr</string>
	<key>API_KEY</key>
	<string>AIzaSyB9zh05zuaPa4t-_JrTjtbW_TjcIbDlTFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>309705606497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duncanconduit.waterful</string>
	<key>PROJECT_ID</key>
	<string>waterfulapp-1</string>
	<key>STORAGE_BUCKET</key>
	<string>waterfulapp-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309705606497:ios:ce3c04b47b0f98081bb120</string>
</dict>
</plist>